body { margin: 60px auto; width: 70%; }

a { text-decoration: none; color: #999; }
a:hover { text-decoration: underline; }

p, ul { font-size: 1.5em; line-height: 1.4em; color: #333; }

h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }

nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial';  overflow: hidden;
   padding: 10px; list-style: none; font-weight: bold; }
nav ul{background-color: #333;}
nav ul li, footer ul li { display: inline; margin-right: 20px; float: left; }

article ul {
  list-style-type: none;
}
 article ul li{background-color: lightgrey;
  
  border: 15px solid grey;
  padding: 50px;
  margin: 20px;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.fa {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: red;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

//footer { border-top: 1px solid #d5d5d5; font-size: .8em; }

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }

/* CV */
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 3em; }
.cv h2 { font-size: 2em; }
.cv address, .cv .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.cv address, .cv p { font-size: 1.2em; }
.cv .download { float: right; font-size: .8em; text-transform: uppercase; }



body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
  font-style: normal;
  text-decoration: inherit;
  cursor: pointer;
}

a:hover {
  opacity: 0.7;
}

.nav {
  position: absolute;
  width: 50%;
  top: 40px;
  left: 100px;
}

.main-section{
  /* background: url(../images/main-header.jpg) no-repeat center center scroll; */
  background: rgba(34,125,170,1);
  background: -moz-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(34,125,170,1)), color-stop(100%, rgba(81,172,205,1)));
  background: -webkit-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  background: -o-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  background: -ms-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  background: linear-gradient(to bottom, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  display: table;
  width: 100%;
  height: 700px;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.main-section h1 {
  font-size: 60px;
}

.main-section h1:after {
  content: ' ';
  display: block;
  width: 50px;
  margin: 10px auto -10px 0;
  border: 2px solid #fff;
}

.main-section p {
  font-size: 30px;
  color: #deeef5;
  letter-spacing: 1px;
}

.main-section > .section-content {
  display: table-cell;
  vertical-align: middle;
  padding: 10px 100px;
  text-align: left;
}

.main-section p {
  font-size: 20px;
}

.main-section h2 {
  font-weight: 100;
  color: #deeef5;
}

.main-section h2 > strong {
  color: white;
}

.section {
  display: block;
}

.section-content {
  padding: 100px 100px;
  display: block;
  overflow: auto;
}

.section-content .content > div {
  padding-left: 20px;
}

.blue-bg > .section-content{
  /* background-color: #3295be; */
  background: rgba(34,125,170,1);
  background: -moz-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(34,125,170,1)), color-stop(100%, rgba(81,172,205,1)));
  background: -webkit-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  background: -o-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  background: -ms-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  background: linear-gradient(to bottom, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#227daa', endColorstr='#51accd', GradientType=0 );
}


.content p {
  margin: 0;
  font-size: 18px;
  color: white;
  line-height: 30px;
  letter-spacing: 1px;
}

.title > h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 2px;
}

.white-bg .title h1 {
  color: #3295be;
}

.white-bg > .section-content {
  background-color: white;
}

.blue-bg .title h1 {
  color: white;
}

.white-bg p, .white-bg h2 {
  color: #58798c;
}

.title h1:after {
  content: ' ';
  display: block;
  width: 50px;
  margin: 10px 0;
}

.blue-bg .title > h1:after {
  border: 2px solid #fff;
}

.white-bg .title > h1:after {
  border: 2px solid #3295be;
}

.title {
  float: left;
  width: 20%;
}

.content {
  float: left;
  width: 80%;
}

.box {
  border: 1px solid #89bbd3;
  border-radius: 10px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;

  transition: opacity 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s ;
  transition: all ease 0.5s ;
}

.box:hover {
  background: rgba(255,255,255,0.1);
}

h2 {
  margin: 0;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.blue-bg h2 {
  color: white;
  text-transform: none;
}

.blue-bg p {
  color: #deeef5;
}

.box h2, .box img {
  display: inline;
}

.box img {
  margin-left: 10px;
}

.box a:hover {
  opacity: 0.5;
}

.box p {
  color: #95c5db;
}

.small {
  font-size: 14px;
  color: #aac7d9;
  margin-bottom: 10px;
}

.w3-progress-container {
  width:90%;
  height:0.7em;
  position:relative;
  background-color:#deeef5;
  margin-bottom: 30px;

  transition: opacity 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s ;
  transition: all ease 0.5s ;
}

.w3-progress-container:hover {
  opacity: 0.5;
}

.w3-progressbar {
  background: rgba(34,125,170,1);
  background: -moz-linear-gradient(left, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(34,125,170,1)), color-stop(100%, rgba(81,172,205,1)));
  background: -webkit-linear-gradient(left, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  background: -o-linear-gradient(left, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  background: -ms-linear-gradient(left, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  background: linear-gradient(to right, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#227daa', endColorstr='#51accd', GradientType=1 );
  height:100%;
  position:absolute;
  line-height:inherit;
}

.dual-col {
  width: 50%;
  float: left;
}

.dual-col h2 {
  color: #2473a0;
  font-size: 15px;
  margin-bottom: 10px;
}

.dual-col img {
  width: 90%;
  border: 1px solid #eee;
  border-radius: 10px;
  margin-bottom: 10px;
}

a > img {
  cursor: pointer;
}

.dual-col.img-col {
  margin-bottom: 60px;
}

.dual-col.img-col:nth-child(7) {
  margin-bottom: 0;
}

.dual-col.img-col:last-child {
  margin-bottom: 0;
}

.tag {
  border: 1px solid #ddd;
  display: inline-block;
  border-radius: 6px;
  padding: 8px 10px;
  font-size: 12px;
  color: #aaa;
  text-transform: uppercase;
  margin-right: 5px;
}

.footer .section-content {
  padding: 0 60px;
  border-top: 1px #eee solid;
  color: #aaa;
}

@media only screen and (max-width: 1200px) {
	.title {
	  width: 40%;
	}

  .content {
    width: 60%;
  }

  .section-content .content > div {
    padding-left: 0;
  }

  .section-content {
    padding: 60px 30px;
  }

  .title img {
    margin-bottom: 20px;
  }

  .dual-col {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
	.title, .content {
	  width: 100%;
	}

  .section-content .content > div {
    padding-left: 0;
  }

  .section-content {
    padding: 60px 30px;
  }

  .title img {
    margin-bottom: 20px;
  }

  .w3-progress-container {
    width: 100%;
  }

  .footer {
    text-align: center;
  }

  .main-section h1 {
    font-size: 40px;
  }

  .main-section {
    height: 670px;
  }

  .main-section > .section-content {
    padding: 10px 30px;
  }

  .dual-col img {
    width: 100%;
  }

  .nav {
    left: 30px;
  }


  .dual-col.img-col:nth-child(7) {
    margin-bottom: 60px;
  }
}
