body { margin: 60px auto; width: 70%; }

a { text-decoration: none; color: #999; }
a:hover { text-decoration: underline; }

p, ul { font-size: 1.5em; line-height: 1.4em; color: #333; }

h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }

nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial';  overflow: hidden;
   padding: 10px; list-style: none; font-weight: bold; }
nav ul{background-color: #333;}
nav ul li, footer ul li { display: inline; margin-right: 20px; float: left; }

article ul {
  list-style-type: none;
}
 article ul li{background-color: lightgrey;
  
  border: 15px solid grey;
  padding: 50px;
  margin: 20px;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

//footer { border-top: 1px solid #d5d5d5; font-size: .8em; }

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }

/* CV */
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 3em; }
.cv h2 { font-size: 2em; }
.cv address, .cv .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.cv address, .cv p { font-size: 1.2em; }
.cv .download { float: right; font-size: .8em; text-transform: uppercase; }
