body { margin: 90px 1%;top:0; width: 100%;
}
html { 
  background: url(../../bg1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
  width: 600px;
  height: 400px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

a { text-decoration: none; color: #999; }
a:hover { text-decoration: underline; }

p, ul { font-size: 1.5em; line-height: 1.4em; color: #333; }

h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }
footer{display:inline;
}

li strong{
  color:#3B5998;
  font-size:24px;
}

nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial'; overflow:hidden; 
   padding: 0px; list-style: none; font-weight: bold; }

nav ul{background-color: #333;}
nav{
  margin:0;
   overflow: hidden;
 position: fixed;
 top: 0;
 width: 100%;
}
nav ul li, footer ul li { display: inline; margin-right: 21px; float: left; }
@media screen and (max-width: 600px) {
  nav ul li.right, 
  nav ul li {float: none;}

article ul {
  list-style-type: none;
}
 article ul li{background-color: lightgrey;
  
  border: 10px solid grey;
  padding: 50px;
  margin: 20px;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.fa {
  padding: 10px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-envelope {
  background: grey;
  color: white;
}
.fa-github {
  background: black;
  color: white;
}
.fa-facebook {
 background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: red;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.cm{
   font-family: "Times New Roman";
    font-size: 40px;
   font-weight: bold;
   color:#3B5998;
}

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }

/* CV */
.cv { margin: 0 50px 60px; }
.cv h1 { font-size: 3em; }
.cv h2 { font-size: 2em; }
.cv address, .cv .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.cv address, .cv p { font-size: 1.2em; }
.cv .download { float: right; font-size: .8em; text-transform: uppercase; }


// here last
.main-section > .section-{
  display: table-cell;
  vertical-align: middle;
  padding: 10px 100px;
  text-align: left;
}
.section-{
  padding: 100px 100px;
  display: block;
  overflow: auto;
}

.section-content .content > div {
  padding-left: 10px;
}

.white-bg .title h1 {
  color: #3295be;
}

.white-bg > .section-content {
  background-color: white;
}

.blue-bg .title h1 {
  color: white;
}

.white-bg p, .white-bg h2 {
  color: #58798c;
}

.white-bg .title > h1:after {
  border: 2px solid #3295be;
}


.dual-col {
  width: 50%;
  float: left;
}

.dual-col img {
  width: 90%;
  border: 1px solid #eee;
  border-radius: 10px;
  margin-bottom: 10px;
}

.footer .section-content {
  padding: 30px, 60px;
  border-top: 1px #eee solid;
  color: #aaa;
}

.w3-progress-container {
  width:90%;
  height:0.7em;
  position:relative;
  background-color:#deeef5;
  margin-bottom: 30px;

  transition: opacity 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s ;
  transition: all ease 0.5s ;
}

.w3-progress-container:hover {
  opacity: 0.5;
}

.w3-progressbar {
  background: rgba(34,125,170,1);
  background: -moz-linear-gradient(left, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(34,125,170,1)), color-stop(100%, rgba(81,172,205,1)));
  background: -webkit-linear-gradient(left, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  background: -o-linear-gradient(left, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  background: -ms-linear-gradient(left, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  background: linear-gradient(to right, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#227daa', endColorstr='#51accd', GradientType=1 );
  height:100%;
  position:absolute;
  line-height:inherit;
}


.white-bg .title > h1:after {
  border: 2px solid #3295be;
}


.blue-bg > .section-content{
  /* background-color: #3295be; */
  background: rgba(34,125,170,1);
  background: -moz-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(34,125,170,1)), color-stop(100%, rgba(81,172,205,1)));
  background: -webkit-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  background: -o-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  background: -ms-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  background: linear-gradient(to bottom, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#227daa', endColorstr='#51accd', GradientType=0 );
}

.main-section > .section-content {
  display: table-cell;
  vertical-align: middle;
  padding: 10px 100px;
  text-align: left;
}.section-content {
  padding: 100px 100px;
  display: block;
  overflow: auto;
}
.section-content {
    padding: 60px 30px;
  }

.section-content .content > div {
  padding-left: 20px;
}

   

 

 


  
}
