<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
	  <meta name="google-site-verification" content="CdmaPdee7w3HhJXm5BOYqyKvWrjuZPCQhPTH9bvrexQ" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta name="Sandeep Sheni" content="Sandeep Nayak Sheni Official Website">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
<style>
	footer{
		padding-top:100px;}
	  </style>
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/blog">Projects</a></li>
	<li><a href="/gallery">Gallery</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer ><div style="clear:both"><center>
	  <div class="cm">Contact Me</div>
	  
   
   <a href="mailto:sndpnayak.30@gmail.com"><button class="fa fa-envelope" ></button></a>
   <a href="https://github.com/sandeepnayaks"><button class="fa fa-github" ></button></a>
    
				<a href="https://www.linkedin.com/in/sandeep-sheni" target="_blank">
    <button class="fa fa-linkedin" ></button>
</a>
				
				<a href="https://twitter.com/sandeepnayak_/"target="_blank"><button class="fa fa-twitter" ></button></a></li>
				<a href="https://www.instagram.com/sandeepnayak_"target="_blank"><button  class="fa fa-instagram" ></button></a></li>
<a href="https://www.facebook.com/sandeep.nayak.5439087" target="_blank">
    <button class="fa fa-facebook" ></button>
	  </a></center>
  </footer>
	</div>
  </body>

</html>
